<div class="container">
  <table mat-table [dataSource]="service.crops | async | keyvalue : valueAscOrder">
    <ng-container matColumnDef="nameKey">
      <th mat-header-cell *matHeaderCellDef>なまえ</th>
      <td mat-cell *matCellDef="let element"> {{element.value.nameKey}} </td>
    </ng-container>
    <ng-container matColumnDef="areaKey">
      <th mat-header-cell *matHeaderCellDef>ばしょ</th>
      <td mat-cell *matCellDef="let element"> {{element.value.areaKey}} </td>
    </ng-container>
    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef>ねん</th>
      <td mat-cell *matCellDef="let element"> {{element.value.year}} </td>
    </ng-container>
    <ng-container matColumnDef="day">
      <th mat-header-cell *matHeaderCellDef>ひにち</th>
      <td mat-cell *matCellDef="let element"> {{element.value.day}} </td>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>こすう</th>
      <td mat-cell *matCellDef="let element"> {{element.value.quantity}} </td>
    </ng-container>
    <ng-container matColumnDef="isWater">
      <th mat-header-cell *matHeaderCellDef>みず</th>
      <td mat-cell *matCellDef="let element"> {{element.value.isWater}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
</div>
<button mat-fab class="add_button" color="accent" type="button" (click)="openDialog()">
    <mat-icon>add</mat-icon>
</button>