<div class="container">
  <table mat-table [dataSource]="service.crops" matSort>
    <ng-container matColumnDef="name" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header>なまえ</th>
      <td mat-cell *matCellDef="let element"> {{ eService.getName(element.nameKey) }} </td>
    </ng-container>
    <ng-container matColumnDef="area">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ばしょ</th>
      <td mat-cell *matCellDef="let element"> {{ aService.getName(element.areaKey) }} </td>
    </ng-container>
    <ng-container matColumnDef="calendar">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ひづけ</th>
      <td mat-cell *matCellDef="let element">
        {{ element.year }}/
        {{ hService.getSeason(element.day) }}/
        {{ hService.getDay(element.day) }}
      </td>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>こすう</th>
      <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
    </ng-container>
    <ng-container matColumnDef="isWater">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>みず</th>
      <td mat-cell *matCellDef="let element">
        <ng-container [ngSwitch]="element.isWater">
          <mat-icon *ngSwitchCase="true">water_drop</mat-icon>
          <mat-icon *ngSwitchCase="false">format_color_reset</mat-icon>
        </ng-container>
      </td>
    </ng-container>
    <ng-container matColumnDef="menu" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
        <mat-menu #menu="matMenu">
            <label mat-menu-item disabled>
              {{ eService.getName(element.nameKey) }}（{{ aService.getName(element.areaKey) }}）
            </label>
            <button mat-menu-item (click)="clickEditButton(element)">
              <mat-icon>edit</mat-icon>
              <span>へんしゅう</span>
            </button>
            <button mat-menu-item (click)="clickDeleteButton(element)">
              <mat-icon>delete</mat-icon>
              <span>さくじょ</span>
            </button>
          </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
</div>
<button mat-fab class="add_button" color="accent" type="button" (click)="clickAddButton()">
    <mat-icon>add</mat-icon>
</button>