<div class="container">
  <table mat-table [dataSource]="service.crops" matSort>
    <ng-container matColumnDef="nameKey">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>なまえ</th>
      <td mat-cell *matCellDef="let element"> {{ eService.getName(element.nameKey) }} </td>
    </ng-container>
    <ng-container matColumnDef="areaKey">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ばしょ</th>
      <td mat-cell *matCellDef="let element"> {{ aService.getName(element.areaKey) }} </td>
    </ng-container>
    <ng-container matColumnDef="calendar">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <!-- <mat-icon>calendar_month</mat-icon> -->
      ひづけ
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.year }} / 
        {{ hService.getSeason(element.day) }} / 
        {{ hService.getDay(element.day) }}
      </td>
    </ng-container>
    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ねん</th>
      <td mat-cell *matCellDef="let element"> {{element.year}} </td>
    </ng-container>
    <ng-container matColumnDef="season">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>きせつ</th>
      <td mat-cell *matCellDef="let element"> {{ hService.getSeason(element.day) }} </td>
    </ng-container>
    <ng-container matColumnDef="day">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ひにち</th>
      <td mat-cell *matCellDef="let element"> {{ hService.getDay(element.day) }} </td>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>こすう</th>
      <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
    </ng-container>
    <ng-container matColumnDef="isWater">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>みず</th>
      <td mat-cell *matCellDef="let element"> {{element.isWater}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
</div>
<button mat-fab class="add_button" color="accent" type="button" (click)="openDialog()">
    <mat-icon>add</mat-icon>
</button>