<div class="tool-container">
    <fieldset>
        <legend>きせつ</legend>
        <mat-select [(value)]="selectedSeason">
            <mat-option *ngFor="let season of seasons | keyvalue" [value]="season.value">
                {{ season.value }}
            </mat-option>
        </mat-select>
    </fieldset>
    <span class="spacer"></span>
    <button mat-stroked-button color="accent" type="button" (click)="clickAddButton()">ついか</button>
</div>
<div class="container">
    <mat-accordion *ngFor="let crop of service.crops | async | keyvalue : originalOrder">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div *ngFor="let element of crop.value | keyvalue">
                        <div *ngIf="element.key=='category'">
                            <mat-icon *ngIf="element.value=='vegetable'">grass</mat-icon>
                            <mat-icon *ngIf="element.value=='flower'">local_florist</mat-icon>
                        </div>
                    </div>
                    <div class="title">{{ crop.key }}</div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
                <ng-container *ngFor="let element of crop.value | keyvalue : keyDescOrder">
                    <div *ngIf="element.key!='category'">
                        <mat-list-item *ngIf="element.key=='day'">ひにち　：{{element.value}}</mat-list-item>
                        <mat-list-item *ngIf="element.key=='season'">きせつ　：{{element.value}}</mat-list-item>
                        <mat-list-item *ngIf="element.key=='count'">かいすう：{{element.value}}</mat-list-item>
                        <mat-divider></mat-divider>
                    </div>
                </ng-container>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>