:host {
    height: 0%;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.container {
    flex: 1;
    overflow-y: auto;
}
mat-icon{
    margin-right: 15px;
}
mat-list{
    margin-bottom: 130px;
}

.add_button{
    position: fixed;
    padding-left: 14px;
    right: 50px;
    bottom: 30px;
}