:host {
    height: 0%;
    display: flex;
    flex-direction: column;
    flex: 1;
}
::ng-deep .day-container{
    text-align: center;
    display: inline-flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: -15px;
    overflow-x: auto;
}
.arrow{
    margin-top: 10px;
}
.box{
    user-select: none;
    font-size: min(10vw, 14px);
    max-width: min(30vw, 70px);
    margin: 2px;
}
.container {
    flex: 1;
    overflow-y: auto;
}
table{
    width: 100%;
}