<mat-sidenav-container>
    <mat-sidenav class="sidenav" [(opened)]="opened" mode="push">
        <!-- コンテンツの一覧 -->
        <mat-selection-list [multiple]="false">
            <mat-list-option *ngFor="let menu of menus | keyvalue" (click)="jump(menu.key)">
                <mat-icon mat-list-icon>grading</mat-icon>
                <div mat-line>{{menu.value}}</div>
            </mat-list-option>
            <mat-divider></mat-divider>
        </mat-selection-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="main-container">
            <app-header></app-header>
            <div style="text-align:center" class="content">
                <h1>Welcome to {{title}}!</h1>
                <span style="display: block">{{ title }} app is running!</span>
            </div>
            <div class="component-area">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>